* {
  box-sizing: border-box;
}

/* Remove default style on links */
a {
  color: black;
  text-decoration: none;
}

/* Default style for the body */
body {
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

/* Set margin and padding to 0 for certain elements */
:is(h1, h2, h3, h4, h5, h6, ul, p) {
  margin: 0;
  padding: 0;
}

/* Make a grid pattern for the page layout */
.content {
  display: grid;
  margin: 1rem auto;
  max-width: 900px;
  gap: 2px;
  grid-template:
    "header header header"
    "nav nav nav"
    "aside--left main aside--right"
    "footer footer footer"
    / 1fr 2fr 1fr;
}

.banner { 
  grid-area: header;
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: 2rem;
  font-style: italic;
  background-color: burlywood;
  border: 2px solid black;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: bisque;
  border: 2px solid black;
}

.aside--left {
  grid-area: aside--left;
  background-color: blanchedalmond;
  border: 2px solid black;
}

.aside--right {
  grid-area: aside--right;
  background-color: blanchedalmond;
  border: 2px solid black;
}

main { 
  grid-area: main; 
  background-color: blanchedalmond;
  border: 2px solid black;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  border: 2px solid black;
}

/* ----- Default style for widgets ----- */
.widget {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.widget__title {
  text-align: center;
  padding: 0.8em;
  background-color: burlywood;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
}

.widget__content {
  padding: 0.8em;
}

/* ----- Styles for the Navigation widget ----- */
nav li {
  padding: 1em 3em;
}

nav li:hover {
  background-color: burlywood;
}

/* ----- Styles for the Profile widget ----- */
.profile {
  /* -- */
}

.profile__picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__img {
  width: 8em;
  height: 8em;
  border: 2px solid black;
  background-color: white;
}

.status header {
  display: flex;
  justify-content: center;
  margin: 1em;
  margin-top: 0.5em;
}

.status__images {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}

.status__img-container {
  width: auto;
  padding: 0;
  margin: 0;
}

.status__img {
  width: 2em;
  height: 2em;
  border: 2px solid black;
  border-radius: 16px;
  background-color: white;
}

/* ----- Styles for the Likes and Dislikes widget ----- */
.likes ul, .dislikes ul {
  padding: 1em 2em;
}

/* ----- Styles for the Changelog widget ----- */
.changelog {
  max-height: 340px;
  overflow: auto;
}

.changelog .widget__title {
  border-top: none;
}

.changelog .widget__content {
  padding: 0;
}

.changelog ul {
  margin-left: 1.3em;
}

.changelog__entry {
  padding: 1em;
}

.changelog__entry:first-child h3 {
  font-size: 1.4em;
}

.changelog__entry:first-child li {
  font-size: 1.2em;
}

.changelog__entry:hover {
  background-color: #EFD9BD;
}

.changelog__entry li {
  list-style-type: '- ';
}