* {
  box-sizing: border-box;
}

/* Remove default style on links */
a {
  color: black;
  text-decoration: none;
}

/* Default style for the body */
body {
  background-color: white;
  color: black;
  font-family: Verdana;
}

/* Set margin and padding to 0 for certain elements */
:is(h1, h2, h3, h4, h5, h6, ul, p) {
  margin: 0;
  padding: 0;
}

/* Make a grid pattern for the page layout */
.content {
  display: grid;
  margin: 1rem auto;
  max-width: 900px;
  grid-gap: 2px;
  grid-template:
    "header header header"
    "nav nav nav"
    "aside--left main aside--right"
    "footer footer footer"
    / 1fr 2fr 1fr;
  border: 2px solid black;
  background-color: black;
}

.banner { 
  grid-area: header;
  display: flex;
  justify-content: center;
  padding: 3rem;
  background-color: burlywood;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: bisque;
}

.aside--left {
  grid-area: aside--left;
  background-color: blanchedalmond;
}

.aside--right {
  grid-area: aside--right;
  background-color: blanchedalmond;
}

main { 
  grid-area: main; 
  background-color: blanchedalmond;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
}

/* ----- Default style for widgets ----- */
.widget {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.widget__title {
  text-align: center;
  padding: 0.8em;
  background-color: burlywood;
}

.widget__content {
  padding: 0.8em;
}

/* ----- Styles for the Navigation widget ----- */
nav li {
  padding: 1em 3em;
}

nav li:hover {
  background-color: burlywood;
}

/* ----- Styles for the Changelog widget ----- */
.changelog {
  max-height: 340px;
  overflow: auto;
}

.changelog .widget__content {
  padding: 0;
}

.changelog ul {
  margin-left: 1.3em;
}

.changelog__entry {
  padding: 1em;
}

.changelog__entry:first-child h3 {
  font-size: 1.3em;
}

.changelog__entry:first-child li {
  font-size: 1.15em;
}

.changelog__entry:hover {
  background-color: #EFD9BD;
}

.changelog__entry li {
  list-style-type: '- ';
}